.but{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 2.5em;
    margin-top:20px ;
    margin-bottom: 25px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    width: 100%;
}

.but:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 400;
    border-color: orangered;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

.subtitle {
    margin-top: 1.5em;
    text-align: center;
    line-height: 1em;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0;
    letter-spacing: 0.02rem;
    color: #fff !important;
}

.inputField{
    display: block;
    margin-top: 40px;
}


.inputField input{
    border: none !important;
    background: transparent !important;
    color: white !important;
    border-bottom: 0.075em solid rgba(255, 255, 255, 0.9) !important;
    font-size: 1.2rem;
}

.inputField input:focus {
    border: none !important;
    outline: none !important;
    border-color: orangered !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.1rem #ff45002e !important;
  }

.inputField  a:hover{
      border: none !important;
      color: orangered !important;
  }

.inputField  span{
    color: orangered;
    font-weight: 400;
  }

  .inputField p{
    text-align: center;
    color: red;
    font-weight: 600;
  }  